* {
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

:root { 
    --cor-principal:#ffc400;
    --cor-texto: rgb(128, 89, 44);
}

html {
    scroll-behavior: smooth;
}

body { 
    background: linear-gradient(to top,rgb(134, 37, 82),rgb(230, 76, 135), rgb(226, 49, 123)); 
    background-size: 300% 300%;
    color: var(--cor-principal); 
    text-align:center;
    height: 100%;
}

.box {
    max-width: 90%;
    width: 100%;
    margin: 20px auto 100px;
    background-color: white;
}

header {
    overflow: hidden;
    position: relative;
    height: 90vh;
    border-bottom: 8px solid #ffe078;
}

header nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
    justify-content: space-between;
    background-color: white;
    padding: 5px 10px;
    border-bottom: 1px solid #ffe078;
    z-index: 1;
}

nav h1 {
    font-size: 2rem;
    text-align: center;
}

nav .ancoras {
    display: flex;
    gap: 10px;
    padding-left: 30px;
}

nav .ancoras a {
    padding-left: 2px;
    text-decoration: none;
    color: var(--cor-principal);  
    border-left: 2px solid var(--cor-principal);
}

nav .ancoras a:hover {
    color: rgb(255, 153, 0);  
}

.banner {
    background-color: white;
    max-height: 60vh;
    height: 100%;

}

.banner p {
    font-weight: 500;
    color: var(--cor-texto);
    padding-top: 30px;
    font-size: 20px;
    position: relative;
    z-index: 1;
}

header img {
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}

header #novelo {
    left: 20px;
    bottom: 50px;
    position: absolute;
    max-width: 96px;
    width: 100%;
    animation:rotate-center 5s linear alternate-reverse infinite;
}

header #novelo:hover {
    cursor: pointer;
    animation-play-state: paused;
}

@keyframes rotate-center{
    to{
        transform: translateX(calc(85vw - 96px)) rotate(720deg);
    }
}

#circle {
    position: absolute;
    background-color: rgb(255, 200, 210);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 100px;
    left: -150px;
}

#circle2 {
    position: absolute;
    background-color: rgb(255, 235, 192);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: -30px;
    right: -150px;
    z-index: 0;
}

/* main */

main {
    margin: 0 auto;
    color: var(--cor-texto);
}

main section {
    border-bottom: 8px solid #ffe078;
    padding-bottom: 60px;
}

main section:last-of-type {
    border-bottom: 0;
    padding-bottom: 60px;
}

main #produtos {
    background-color: rgb(255, 228, 233);

}

main .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

main h2 {
    font-size: 40px;
    margin-bottom: 50px;
    padding: 50px 0 0;
}

main .produtos div {
    position: relative;
    padding: 10px;
}

main .produtos div img {
    position: relative;
    top:15px;
    max-width: 220px;
    width: 100%;
}

main .produtos div p {
    padding: 10px 0 5px;
    text-align: center;
}

main .produtos div p:last-of-type {
    padding: 0 0 5px;
}

main .produtos div .heart {
    position: absolute;
    max-width: 20px;
    width: 100%;
    right: 0;
    top:0;
    cursor: pointer;
    color:rgb(185, 0, 130);
}

main .produtos div button {
    background-color: #E70099;
    border: 0;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

main .produtos div button:hover {
    background-color: #dd0093;
}

main #quemsomos {
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
}

main #quemsomos .equipe {
    display: flex;
    max-width: 100%;
    width: 90%;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

main #quemsomos .equipe img {
    max-width: 212px;
    width: 100%;
    height: 248px;
}

main #quemsomos .historia {
    max-width: 90%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 0 auto;
}

main #quemsomos .historia p {
    font-size: 22px;
    text-align: justify;
    width: 70%;
    display: inline-block;
    position: relative;
    z-index: 1;
}


#circle3 {
    position: absolute;
    background-color: rgb(255, 235, 192);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 100px;
    left: -150px;
}

#circle4 {
    position: absolute;
    background-color: rgb(255, 200, 210);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    bottom: 20px;
    right: -250px;
    z-index: 0;
}

/* curiosidade */
.curiosidades img { 
    max-width: 500px;
    width: 100%;
}

.curiosidades .curiosidade-left {
    display: block;
    text-align: start;
    position: relative;
    max-width: 80%;
    width: 100%;
}

.curiosidades .curiosidade-left p {
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 25px;
}

.curiosidades .curiosidade-right {
    display: block;
    text-align: end;
    position: relative;
}

.curiosidades .curiosidade-right p {
    position: absolute;
    top: 40%;
    right: 30%;
    font-size: 25px;
}

/* responsive */
@media (max-width: 400px) {
    main .produtos div img {
        width: 200px;
    }
}

@media (max-width: 500px) {
    header nav h1 {
        font-size: 25px;
    }
    header nav .ancoras a {
        font-size: 12px;
        text-align: start;
    }

    #circle, #circle2 {
        width: 250px;
        height: 250px;
    }

    main .curiosidades #cat {
        max-width: 80%;
    }
}

@media (max-width: 560px ) {
    main #quemsomos .equipe img {
        max-width: 250px;
        width: 100%;
        height: 248px;
        position: relative;
        z-index: 1;
    }
}

@media (max-width:900px) {
    header nav {
    flex-wrap: wrap;
    flex-direction: column;
    }

    header nav .ancoras {
       padding: 0;
    }

    main .curiosidades .ballon-curiosidade {
        flex-wrap: wrap-reverse;
        width: 80%;
    }
}

@media (max-width:1100px) {
    main .curiosidades #cat .circle-curiosidade {
        max-width: 50px;
        height: 50px;
        margin: 60px 50px;
    }

main .curiosidades #cat .eye {
    max-width:40px;
    height: 40px;
}
}

@media (max-width: 950px) {
    main #quemsomos .equipe {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 25px;
    }

    main #quemsomos .historia p {
        font-size: 16px;
        width: 100%;
        text-align: justify;
        padding: 0 20px;
    }
}

@media (max-width: 1180px) {
    main #quemsomos .historia {
        max-width: 100%;
        justify-content: center;
    }
}
